<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo" class="logo">
        <h1>SWIFT-XML</h1>
        <nav>
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </nav>
    </header>
    <div class="container">
        <h2>Resultado del Análisis</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Campos</th>
                        <th>Datos</th>
                        <th>País Banco</th>
                    </tr>
                </thead>
                <tbody>
                    {% for label, value, detail in analysis_result %}
                    <tr>
                        <td>{{ label }}</td>
                        <td>{{ value }}</td>
                        <td>{{ detail }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="buttons-container">
            <form action="{{ url_for('generate_report') }}" method="POST" style="display: inline;">
                <button type="submit" name="format" value="excel">Generar Informe Excel</button>
            </form>
            <form action="{{ url_for('generate_report') }}" method="POST" style="display: inline;">
                <button type="submit" name="format" value="pdf">Generar Informe PDF</button>
            </form>
            <form action="{{ url_for('new_analysis') }}" method="GET" style="display: inline;">
                <button type="submit">Nuevo Análisis</button>
            </form>
        </div>
    </div>
</body>
</html>
